body {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  color: white;
  display: flex;
  flex-direction: column;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 200px;
  height: 5px; /* equal to height of slider-thumb::before */
  background: #FFF;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  height: 20px;
  width: 20px;
  margin-top: -8px; /* don't change this */
  background: rgb(0, 85, 255);
  border-radius: 50%;
  border: none;
}
input[type='range']::-webkit-slider-thumb::before {
  -webkit-appearance: none;
  position: absolute;
  content: '';
  height: 5px; /* equal to height of runnable track */
  width: 500px; /* make this bigger than the widest range input element */
  left: -502px; /* this should be -2px - width */
  top: 8px; /* don't change this */
  background: rgb(0, 85, 255);
}

.seek-slider input[type='range'] {
  width: 500px;
}

.seek-slider input[type='range']::-webkit-slider-runnable-track {
  width: 500px;
}

.seek-slider input[type='range']::-webkit-slider-thumb::before {
  width: 500px;
  left: -502px;
}

select {
  -webkit-appearance: none;
}

.main-container {
  padding: 20px;
}

.controls-row, .song-selection-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.control-label, .instrument-label {
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #ccc;
}

.control-label input,
.control-label select,
.instrument-label select {
  margin-left: 10px;
}

.control-select, .song-select {
  margin-right: 20px;
  padding: 5px;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
  border-radius: 4px;
}

.file-input {
  color: white;
}

.control-slider {
  width: 150px;
  margin-left: 10px;
}

.control-checkbox {
  margin-left: 10px;
}

.control-button {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
}

.control-button:hover {
  background-color: #444;
}

.harmonic-sliders-container {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  margin-top: 120px;
}

.harmonic-sliders-container label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: white;
}

.harmonic-slider {
  margin-left: 10px;
  width: 150px;
}


.SongTitle{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.spectrograph {
  margin-top: 100px;
}
